.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    width: 72px;
    z-index: 200;
    background-color: white;

}

.sidebar-link{
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sidebar-link:hover{
    background-color: rgb(236, 229, 229);
    cursor: pointer;
}

.sidebar-link img{
    width: 24px;
    margin-bottom: 5px;
}

.sidebar-link div{
    font-family: roboto;
    font-size: 10px;
}